<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.shivvyas.lifeos.whoop</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lifeos</string>
			</array>
		</dict>
	</array>
	<key>ElevenLabsAPIKey</key>
	<string>$(ELEVENLABS_API_KEY)</string>
	<key>SupabaseAnonKey</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>SupabaseURL</key>
	<string>$(SUPABASE_URL)</string>
	<key>WHOOPClientID</key>
	<string>$(WHOOP_CLIENT_ID)</string>
	<key>WhoopRedirectURI</key>
	<string>$(WHOOP_REDIRECT_URI)</string>
</dict>
</plist>
